<!DOCTYPE html>
<html lang="en">
  <!-- include code snippet from another file -->
  <%- include("../partials/head.ejs") %>

  <body>
    <!-- include code snippet from another file -->
    <%- include("../partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <!-- data-doc is a custom attribute -->
      <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
  <script>
    const trashcan = document.querySelector("a.delete");

    trashcan.addEventListener("click", (e) => {
      // how to use data-doc attribute
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.log(err));
    });
  </script>
</html>
