<!DOCTYPE html>
<html lang="en">
  <!-- include code snippet from another file -->
  <%- include("../partials/head.ejs") %>

  <!-- in ejs files we can write javascript in the server -->
  <!-- <% const name = "Mario" %> -->

  <body>
    <!-- include code snippet from another file -->
    <%- include("../partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <a class="single" href="/blogs/<%= blog._id %>">
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
        <% }) %> <% } else { %>
        <p>There are no blogs to display..</p>
      </a>
      <% } %>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
